<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsy.module_me">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.EventBusActivity" />
        <activity android:name=".view.TestActivity" />
        <activity android:name=".view.WebViewActivity" />
        <activity android:name=".view.TestActivity2" />
        <activity android:name=".view.Test3Activity" />
        <activity android:name=".view.InjectActivity" />
        <activity android:name=".view.SettingActivity" />
    </application>

</manifest>